<h1><%= pluralize(@posts.size, "Post") %></h1>

<% @posts.each do |post| %>
	<article>

		<header>
			<h2><%= link_to(post.title, post_path(post.id)) %></h2>
		</header>

		<p>
			<%= truncate(post.content, length: 100, separator: " ") %>
		</p>

		<p>
			Category:
			<%= post.category %>
		</p>

	</article>
<% end %>