<aside id="sidebar">
  <nav>
    <ul>  
      <li class="upcoming-events">
        <%= link_to "All Posts", posts_path, class: 'button' %>
      </li>
      <li class="create-event">
        <%= link_to 'Add New Post', new_post_path, class: 'button' %>
      </li>
    </ul>
  </nav>
</aside>
